<h1> Coupon Form </h1>
<!--
<%= form_for @coupon do |f|%>

<%= f.label :coupon_code%>
<%= f.text_field :coupon_code%>
<%= f.label :store%>
<%= f.text_field :store%>

<%= f.submit "Submit Coupon"%>
<% end %>

-->

<%= form_tag coupons_path do%>
<label>Coupon Code: </label><br>
<%= text_field_tag :"coupon[coupon_code]"%><br>
<label>Store: </label><br>
<%= text_field_tag :"coupon[store]"%><br>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "Submit Coupon" %>
<% end %>
